*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  min-height: 100vh;
}

.cardHighlight{
  min-height: 100%;
  box-shadow: 0px 0px 19px -1px rgba(161,161,161,0.74);
-webkit-box-shadow: 0px 0px 19px -1px rgba(161,161,161,0.74);
-moz-box-shadow: 0px 0px 19px -1px rgba(161,161,161,0.74);
transition: 500ms ease;
}
.cardHighlight:hover{
  transform: scale(1.05);
  transition: 500ms ease;

}

.center{
  min-height: 90vh;
}


.form-cont{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm, .registerForm{
  padding: 3rem;
  box-shadow: 0px 0px 19px 5px rgba(161,161,161,0.74);
-webkit-box-shadow: 0px 0px 19px 5px rgba(161,161,161,0.74);
-moz-box-shadow: 0px 0px 19px 5px rgba(161,161,161,0.74);

}

.registerForm{
  width: 45%;
}

.dogImg{
  max-height: 500px;
}

.conts{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  bottom: 60px;
  width: 500px;
}

.links{
  text-decoration: none;
  color: black;
}
.links:hover{
  color: black;
}

.createHight{
  
   max-width: 700px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px auto 0 auto;
}

/*.centerThis{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}*/

.centerMe{
  margin: 0 auto 0 auto;
  padding: 1rem;
  box-shadow: 0px 0px 19px 5px rgba(161,161,161,0.74);
-webkit-box-shadow: 0px 0px 19px 5px rgba(161,161,161,0.74);
-moz-box-shadow: 0px 0px 19px 5px rgba(161,161,161,0.74);
}